<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Your Cart</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.product.name}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.product.price}"></td>
            <td th:text="${cartItem.product.price * cartItem.quantity}"></td>
            <td>
                <form th:action="@{/cart/remove/{productId}(productId=${cartItem.product.id})}" method="post">
                    <input type="hidden" name="_method" value="post" />
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/cart/clear}" method="post">
        <input type="hidden" name="_method" value="post" />
        <button type="submit" class="btn btn-danger">Clear Cart</button>
    </form>
    <a th:href="@{/checkout}" class="btn btn-success">Checkout</a>
    <a th:href="@{/product/list}" class="btn btn-primary">Continue Shopping</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
