<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Product Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h2>Product Detail</h2>
        <hr/>
        <div class="card">
            <img th:src="@{'/image/' + ${product.image}}" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <p class="card-text" th:text="${product.description}"></p>
                <p class="card-text" th:text="'Item Code: ' + ${product.itemcode}"></p>
                <p class="card-text" th:text="'Manufacturer: ' + ${product.manufacturer}"></p>
                <p class="card-text" th:text="'Category: ' + ${product.category}"></p>
                <p class="card-text" th:text="'Unit: ' + ${product.unit}"></p>
                <p class="card-text" th:text="'Price: ' + ${product.price}"></p>
                <a th:href="@{/product/list}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
    <p>
        <a th:href="@{/login}" class="btn btn-link">Login</a>
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
