<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>List of Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h2>Product List</h2>
        <hr/>
        <a th:href="@{/product/add}" class="btn btn-primary mb-2">Add Product</a>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4" th:each="product : ${products}">
                        <div class="card mb-3">
                            <img th:src="@{'/image/' + ${product.image}}" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <p class="card-text" th:text="${product.description}"></p>
                                <p class="card-text" th:text="'Item Code: ' + ${product.itemcode}"></p>
                                <p class="card-text" th:text="'Manufacturer: ' + ${product.manufacturer}"></p>
                                <p class="card-text" th:text="'Category: ' + ${product.category}"></p>
                                <p class="card-text" th:text="'Unit: ' + ${product.unit}"></p>
                                <p class="card-text" th:text="'Price: ' + ${product.price}"></p>
                                <a th:href="@{/product/detail/{id}(id=${product.id})}" class="btn btn-primary">Details</a>
                                <form th:action="@{/cart/add/{productId}(productId=${product.id})}" method="post">
                                    <input type="hidden" name="_method" value="post" />
                                    <input type="number" name="quantity" value="1" min="1" /> <!-- Thêm input để nhập số lượng -->
                                    <button type="submit" class="btn btn-success">Order Now</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <a th:href="@{/login}" class="btn btn-link">Login</a>
        <a th:href="@{/hello}" class="btn btn-secondary">Back</a>

    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
