<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Product</title>
    <!-- Bao gồm tệp CSS của Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" class="btn btn-danger">
</form>
<div class="container">

    <div class="col-md-offset-2 col-md-7">
        <h2 class="text-center">Adding Product</h2>
        <div class="panel panel-info">
            <div class="panel-body">
                <form th:action="@{/product/add}" class="form-horizontal" method="post" th:object="${product}">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Product Name</label>
                        <div class="col-md-9">
                            <input type="text" th:field="*{name}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Unit Price</label>
                        <div class="col-md-9">
                            <input type="number" th:field="*{price}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Units In Stock</label>
                        <div class="col-md-9">
                            <input type="number" th:field="*{unit}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Description</label>
                        <div class="col-md-9">
                            <input type="text" th:field="*{description}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Manufacturer</label>
                        <div class="col-md-9">
                            <input type="text" th:field="*{manufacturer}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Category</label>
                        <div class="col-md-9">
                            <input type="text" th:field="*{category}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Item Code</label>
                        <div class="col-md-9">
                            <input type="number" th:field="*{itemcode}" class="form-control"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Product Image File</label>
                        <input class="form-control" type="file" id="formFile" th:field="*{image}">
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Condition</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">new</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">old</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                            <label class="form-check-label" for="inlineRadio3">Refurbished (disabled)</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-primary">Submit</button>
                            <a th:href="@{/hello}" class="btn btn-secondary">Back</a>
                        </div>
                        <div id="success-message" th:if="${successMessage}" class="alert alert-success" style="display: none;">
                            <p th:text="${successMessage}"></p>
                        </div>
                        <script>
                            setTimeout(function() {
                                document.getElementById("success-message").style.display = "block";
                            }, 1000);
                        </script>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bao gồm tệp JavaScript của Bootstrap 5 (nếu cần) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
